/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


/* Gallery */

.gallery {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}

body .sl-overlay {
  background-color: #2E2F42;
}


/* Form */

main{
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background-color: #fff;  
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #808080;
  outline: none;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  margin: auto;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}